body {
  margin:0px;
  background-image:url('../../images/home/bg.jpg');
  background-position:left top;
  background-repeat:repeat;
  background-attachment:scroll;
  background-size:auto;
  position:static;
  left:auto;
  width:1180px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:400px;
  top:173px;
  width:237px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:180px;
  top:0px;
  width:1000px;
  height:150px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:160px;
}
#u4 {
  position:absolute;
  left:2px;
  top:67px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:415px;
  top:30px;
  width:183px;
  height:19px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
  text-decoration:underline;
  color:#000000;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:19px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:646px;
  top:66px;
  width:183px;
  height:19px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
  text-decoration:underline;
  color:#000000;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:19px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:880px;
  top:101px;
  width:103px;
  height:19px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:16px;
  text-decoration:underline;
  color:#000000;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:901px;
  top:10px;
  width:249px;
  height:16px;
  text-decoration:underline;
  color:#515151;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:530px;
  top:190px;
  visibility:hidden;
}
#u13_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u13_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14 {
  position:absolute;
  left:-5px;
  top:10px;
  width:420px;
  height:310px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:310px;
}
#u15 {
  position:absolute;
  left:2px;
  top:147px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:48px;
  top:28px;
  width:218px;
  height:24px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:24px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:30px;
  top:70px;
  width:210px;
  height:30px;
  font-family:'Vineta BT Oblique', 'Vineta BT';
  font-style:oblique;
  font-size:14px;
  color:#000000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:6px;
  width:206px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:30px;
  top:186px;
  width:210px;
  height:70px;
  font-family:'Showcard Gothic Обычный', 'Showcard Gothic';
  color:#000000;
  text-align:left;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:70px;
}
#u21 {
  position:absolute;
  left:2px;
  top:10px;
  width:206px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:48px;
  top:140px;
  width:147px;
  height:24px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:24px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:250px;
  top:186px;
  width:30px;
  height:24px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u25 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:250px;
  top:225px;
  width:30px;
  height:26px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:26px;
}
#u27 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:375px;
  top:10px;
  width:40px;
  height:42px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:42px;
}
#u29 {
  position:absolute;
  left:2px;
  top:13px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:220px;
  top:30px;
  width:120px;
  height:100px;
  color:#0000FF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:100px;
}
#u31 {
  position:absolute;
  left:2px;
  top:42px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:180px;
  top:2460px;
  width:1000px;
  height:150px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:150px;
}
#u34 {
  position:absolute;
  left:2px;
  top:67px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:200px;
  top:2480px;
  width:159px;
  height:38px;
  font-family:'Cooper Black Oblique', 'Cooper';
  font-style:oblique;
  font-size:16px;
  color:#000000;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:38px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:1020px;
  top:2484px;
  width:160px;
  height:102px;
  font-family:'Harlow Solid SemiExpanded Italic Bold', 'Harlow Solid';
  font-weight:700;
  font-style:italic;
  font-size:14px;
  color:#000000;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:102px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:200px;
  top:2540px;
  width:158px;
  height:16px;
  color:#000000;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:200px;
  top:2567px;
  width:200px;
  height:25px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u42 {
  position:absolute;
  left:410px;
  top:2560px;
  width:32px;
  height:32px;
  color:#A1A1A1;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u43 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:588px;
  top:260px;
  width:161px;
  height:16px;
  text-decoration:underline;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:26px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:588px;
  top:286px;
  width:532px;
  height:96px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:106px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:580px;
  top:392px;
  width:55px;
  height:14px;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:588px;
  top:424px;
  width:178px;
  height:16px;
  text-decoration:underline;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:26px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:588px;
  top:450px;
  width:532px;
  height:64px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:74px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:580px;
  top:556px;
  width:55px;
  height:14px;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:588px;
  top:594px;
  width:163px;
  height:16px;
  text-decoration:underline;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:26px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:588px;
  top:620px;
  width:532px;
  height:64px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:74px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:580px;
  top:726px;
  width:55px;
  height:14px;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:588px;
  top:764px;
  width:118px;
  height:16px;
  text-decoration:underline;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:26px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:588px;
  top:790px;
  width:532px;
  height:80px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:90px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:580px;
  top:896px;
  width:55px;
  height:14px;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:588px;
  top:934px;
  width:152px;
  height:16px;
  text-decoration:underline;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:26px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:588px;
  top:960px;
  width:532px;
  height:64px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:74px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:580px;
  top:1066px;
  width:55px;
  height:14px;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:588px;
  top:1100px;
  width:132px;
  height:16px;
  text-decoration:underline;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:26px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:588px;
  top:1126px;
  width:532px;
  height:64px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:74px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:580px;
  top:1232px;
  width:55px;
  height:14px;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:588px;
  top:1264px;
  width:139px;
  height:16px;
  text-decoration:underline;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:26px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:588px;
  top:1290px;
  width:532px;
  height:80px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:90px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:580px;
  top:1396px;
  width:55px;
  height:14px;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:588px;
  top:1430px;
  width:142px;
  height:16px;
  text-decoration:underline;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:26px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:588px;
  top:1456px;
  width:532px;
  height:80px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:90px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:580px;
  top:1562px;
  width:55px;
  height:14px;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:588px;
  top:1594px;
  width:163px;
  height:16px;
  text-decoration:underline;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:26px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:588px;
  top:1620px;
  width:532px;
  height:80px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:90px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:580px;
  top:1726px;
  width:55px;
  height:14px;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:588px;
  top:1760px;
  width:151px;
  height:16px;
  text-decoration:underline;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:26px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:588px;
  top:1786px;
  width:532px;
  height:64px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:74px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:580px;
  top:1892px;
  width:55px;
  height:14px;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:588px;
  top:1930px;
  width:139px;
  height:16px;
  text-decoration:underline;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:26px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:588px;
  top:1956px;
  width:532px;
  height:80px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:90px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:580px;
  top:2062px;
  width:55px;
  height:14px;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:588px;
  top:2100px;
  width:159px;
  height:16px;
  text-decoration:underline;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:26px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:588px;
  top:2126px;
  width:532px;
  height:80px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:90px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:580px;
  top:2232px;
  width:55px;
  height:14px;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:588px;
  top:2274px;
  width:146px;
  height:16px;
  text-decoration:underline;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:26px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:588px;
  top:2300px;
  width:532px;
  height:80px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:90px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:580px;
  top:2406px;
  width:55px;
  height:14px;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:24px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u136 {
  position:absolute;
  left:180px;
  top:260px;
  width:220px;
  height:110px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:110px;
}
#u137 {
  position:absolute;
  left:2px;
  top:47px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:220px;
  top:280px;
  width:111px;
  height:17px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:15px;
  text-decoration:underline;
  color:#FFFF00;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:17px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:220px;
  top:316px;
  width:111px;
  height:34px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:15px;
  text-decoration:underline;
  color:#FFFF00;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:34px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:407px;
  top:260px;
  width:171px;
  height:146px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:156px;
}
#u143 {
  position:absolute;
  left:2px;
  top:65px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:408px;
  top:424px;
  width:170px;
  height:146px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:156px;
}
#u145 {
  position:absolute;
  left:2px;
  top:65px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:408px;
  top:594px;
  width:170px;
  height:142px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:152px;
}
#u147 {
  position:absolute;
  left:2px;
  top:63px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:408px;
  top:764px;
  width:170px;
  height:146px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:156px;
}
#u149 {
  position:absolute;
  left:2px;
  top:65px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:408px;
  top:934px;
  width:170px;
  height:146px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:156px;
}
#u151 {
  position:absolute;
  left:2px;
  top:65px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:408px;
  top:1100px;
  width:170px;
  height:146px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:156px;
}
#u153 {
  position:absolute;
  left:2px;
  top:65px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:408px;
  top:1264px;
  width:170px;
  height:146px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:156px;
}
#u155 {
  position:absolute;
  left:2px;
  top:65px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:408px;
  top:1430px;
  width:170px;
  height:146px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:156px;
}
#u157 {
  position:absolute;
  left:2px;
  top:65px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:408px;
  top:1594px;
  width:170px;
  height:146px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:156px;
}
#u159 {
  position:absolute;
  left:2px;
  top:65px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:408px;
  top:1760px;
  width:170px;
  height:146px;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:156px;
}
#u161 {
  position:absolute;
  left:2px;
  top:65px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:408px;
  top:1930px;
  width:170px;
  height:146px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:156px;
}
#u163 {
  position:absolute;
  left:2px;
  top:65px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:408px;
  top:2100px;
  width:170px;
  height:146px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:156px;
}
#u165 {
  position:absolute;
  left:2px;
  top:65px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:408px;
  top:2274px;
  width:170px;
  height:146px;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:156px;
}
#u167 {
  position:absolute;
  left:2px;
  top:65px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
